NODE_ENV=development
PORT=22022
DATABASE_URL="postgresql://santyofc:pstgrs_santy_factu@localhost:5433/facturacion_db?schema=public"
NEXTAUTH_SECRET="facturacion_secret_key_2026"
API_HACIENDA_URL="https://api.hacienda.go.cr/fe/v1/"
CDN_URL="https://cdn.zonasurtech.online"
