NODE_ENV=development
PORT=22022
DATABASE_URL="postgresql://santyofc:pstgrs_santy_crm@localhost:5434/crm_db?schema=public"
NEXTAUTH_SECRET="crm_secret_key_2026"
CDN_URL="https://cdn.zonasurtech.online"
